body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:silver;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.form-horizontal .form-group {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.well{
    padding:0px;
    margin-bottom: 0px;
    background-color: dimgray;
    border:0px;
}

.line{
    border-right:1px solid lightgray;
    display:inline-block;
    float:left;
    width: 68%;
    padding-right:10px;
}

footer {
    width: 100%;
    clear: both;
    padding-top:10px;
}

.profile{
    width:32%;
    padding-left: 10px;
    float:right;
    background-color:dimgray;
    border-radius: 4px;
}

.loginList {
    list-style: none;
}

.login{
    padding-bottom:1%;
    display:inline;
}

/*.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

p.pub {
    height: 230px;
    overflow: hidden;
}

textarea {
    height: 200px !important;
    resize: none;
}
