@model Blog.ViewModels.CategoryVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Opret kategori</h1>
<a href="/Entry/Index/" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Tilbage til forsiden</a>
<hr />
<form action="/Category/CreateCategory/" method="post" class="form-horizontal">
    <div class="form-group">
        <label>Kategoriens navn:</label>
        <input name="Name" type="text" required class="form-control" />
    </div>
    <div class="form-group">
        <label>Beskrivelse af kategorien:</label>
        <textarea name="Description" class="form-control"></textarea>
    </div>
    <input type="submit" name="CreateCategory" value="Opret kategori" class="btn btn-success" />
</form>
