@model Blog.ViewModels.EntryVM

@{
    ViewBag.Title = "ShowEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vis indlæg</h1>
<a href="/Entry/Index/" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Tilbage til forsiden</a>
<hr />
<div class="well">
    <p>
        @if (Model.IsPublished == true)
            {
            <b>
                Udgivet
            </b>
        }
        else
        {
            <b>
                Kladde
            </b>
        }
    </p>

    <i>@Model.Date.ToString("dd. MMMM yyyy kl. HH:mm")</i>
    <h2>@Model.Title</h2>
    <p>
        @Html.Raw(Model.Text.Replace(Environment.NewLine, "<br/>"))
    </p>
</div>


