<ul class="loginList">
    <li><img src="@Model.OtherPicPath" class="avatar" /></li>
    @if (Model.OtherUserAge != 0)
    {
        <li>
           Alder: @Model.OtherUserAge
        </li>
    }
    @if (Model.OtherUserDescription != "")
    {
        <li>Beskrivelse: @Model.OtherUserDescription</li>
    }
</ul>
