<ul class="loginList">
    <li><img src="@Model.OtherPicPath" class="avatar" /></li>
    <li>Alder: 
    @if (Model.OtherUserAge != 0)
    {
        @Model.OtherUserAge
    }
    </li>
    <li>Beskrivelse: @Model.OtherUserDescription</li>
</ul>
